<div class="v-container">
  <div class="container">
    <main>
      <nav>
        {{#link-to 'in-element'}}Using in-element{{/link-to}}
        {{#link-to 'send-component'}}Sening component{{/link-to}}
      </nav>
      {{outlet}}
    </main>
  </div>
</div>
